.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #0056b3;
}

a {
  margin-top: 20px;
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
